doctype html
html
  head
    //- meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    a.h1.header.app-header(href='/') Diary
    .container.container-main
      block content
